#phonewords {
  position: relative;
  font-family: monospace;
  font-size: 23px;
  height: 26px;
  margin-left: 25px;
}

#phonewords div {
  position: absolute;
}

#phoneword-icon {
  float: left;
  width: 18px;
  height: 18px;
  margin-top: 7px;
  background: url(../img/phone-handset-icon.svg) no-repeat top;
  -webkit-animation: phoneword-ring 3s linear 0s infinite;
  animation: phoneword-ring 3s linear 0s infinite;
}

@-webkit-keyframes phoneword-ring {
  0% {
    transform: rotate(0deg) scale(1.0);
  }
  4% {
    transform: rotate(-20deg) scale(1.03);
  }
  8% {
    transform: rotate(0deg) scale(1.07);
  }
  12% {
    transform: rotate(-20deg) scale(1.2);
  }
  16% {
    transform: rotate(0deg) scale(1.07);
  }
  20% {
    transform: rotate(-20deg) scale(1.03);
  }
  24% {
    transform: rotate(0deg) scale(1.0);
  }
  100% {
    transform: rotate(0deg) scale(1.0);
  }
}

@keyframes phoneword-ring {
  0% {
    transform: rotate(0deg) scale(1.0);
  }
  4% {
    transform: rotate(-20deg) scale(1.03);
  }
  8% {
    transform: rotate(0deg) scale(1.07);
  }
  12% {
    transform: rotate(-20deg) scale(1.2);
  }
  16% {
    transform: rotate(0deg) scale(1.07);
  }
  20% {
    transform: rotate(-20deg) scale(1.03);
  }
  24% {
    transform: rotate(0deg) scale(1.0);
  }
  100% {
    transform: rotate(0deg) scale(1.0);
  }
}
